<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% if html.description -%} {{ html.description }} {%- endif %}">
  <meta name="author" content="AlterSpark">

  <title>{% if html.title -%} {{ html.title }} {%- endif %}</title>

  <!-- Tracking script in head -->
  {% include '_template-spark_01/partials/head_scripts_tracking.html' %}

  <!-- CSS -->
  {% include '_template-spark_01/partials/head_css.html' %}

  <!-- Favicons -->
  {% include '_template-spark_01/partials/head_favicons.html' %}

  <!-- Social media cards to add later -->



        <style>
        .leftside, .rightside {
            height: 50vh;
            width: 100%;
        }

        @media screen and (min-width:768px)
        {
            .leftside, .rightside {
                height: 100vh;
            }

        }

        .leftside{
            background: white;
        }
        .rightside {
            background:#015c8b;
        }
        </style>


  </head>






    <body>
<!-- ################################ login total page #################################### -->
        <div class="row no-gutters flex-column-reverse flex-md-row">
<!-- ################################ left size - login part #################################### -->
            <div class="col-md-6 no-gutters">
                <div class="leftside d-flex justify-content-center align-items-center">
<!-- ########################## INSIDE LOGIN PART COPIED FROM PREVIOUSWORK ########################### -->
                    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
                            <div class="m-stack m-stack--hor m-stack--desktop">
                                <div class="m-stack__item m-stack__item--fluid vertical_split_bg">

                                    <div class="m-login__wrapper">

                                        <div class="m-login__logo">
                                        <a href="/">
                                            <img src="static/template-spark_01/brand/spear-temp.png" alt="SPEAR">
                                        </a>
                                        </div>


                                        {% with messages = get_flashed_messages(with_categories=True) %}
                                            {% if messages %}
                                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                                <button type="button" class="close btn btn-primary" data-dismiss="alert" aria-label="Close"></button>
                                                <ul>
                                                    {% for category, message in messages %}
                                                    <li>{{ message}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        {% endwith %}




                                        {% block body %}
                                        {% endblock %}



                </div>

                </div>
                </div>
                </div>
                <!--/END INSIDE LOGIN PART COPIED FROM PREVIOUSWORK  -->
<!-- ##################################################################### -->


                </div><!--/left side -->
            </div><!--/col-md-6 left side page -->
<!-- ################################ right side page - image #################################### -->
            <div class="col-md-6 no-gutters">
                <div class="rightside d-flex justify-content-center align-items-center">

                    <img src="/static/assets/hipster-guy.jpg" class="img-fluid" alt="Responsive image">

                </div> <!--/rightside -->
            </div> <!--/col-md-6 right side page -->

        </div><!--/login total page -->



        {% include '_template-spark_01/partials/foot_scripts.html' %}

    </body>
</html>
