<header>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">

<a class="navbar-brand" href="/"><img src="/static/template-spark_01/brand/spear-temp.png" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-grow-0 ml-auto" id="navbarSupportedContent">

      <ul class="navbar-nav text-right">

        <li class="nav-item active">
          <a class="nav-link" href="/my">My Home</a>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My SPEAR
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/my/segments_db">segments DB</a>
          <a class="dropdown-item" href="/my/persona_db/15">persona DB/15</a>

          <a class="dropdown-item" href="/my/segment">segment (static)</a>
          <a class="dropdown-item" href="/my/persona/1">persona (static)</a>

          <a class="dropdown-item" href="/my/targeting">targeting</a>
        </div>
        </li>



        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Authentication sys
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/">register</a>
          <a class="dropdown-item" href="/login">login</a>
          <a class="dropdown-item" href="/reset_password_request">reset_password_request</a>

          <a class="dropdown-item" href="/403">403</a>
          <a class="dropdown-item" href="/404">404</a>
          <a class="dropdown-item" href="/500">500</a>
        </div>
        </li>






        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Practice
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/practice_rena">practice_rena</a>
          <a class="dropdown-item" href="/practice_yerin">practice_yerin</a>
        </div>
        </li>




       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          UX Library
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/ux_library">ux_library</a>
          <a class="dropdown-item" href="/ux_elements">ux_elements</a>
          <a class="dropdown-item" href="/ux_widgets">ux_widgets</a>
          <a class="dropdown-item" href="/ux_game">ux_game</a>
          <a class="dropdown-item" href="/module_test">module_test</a>
        </div>
        </li>


       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Charting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/charts_emoji">charts_emoji</a>
          <a class="dropdown-item" href="/charts_js">charts_js</a>
          <a class="dropdown-item" href="/charts_js_test">charts_js_test</a>          
          <a class="dropdown-item" href="/charts_plotly">charts_plotly</a>
          <a class="dropdown-item" href="/charts_plotly_debugging">charts_plotly_debugging</a>
        </div>
        </li>



        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Other stuff
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           <a class="dropdown-item" href="/toaster">toaster</a>
         </div>
         </li>




      </ul>

  </div>


  <button class="btn btn-success ml-4">Go Right</button>
</nav>

</header>
