<!-- RENA TO FIX THESE AND GENERATE FAVICONS FROM SCRATCH -->
<link rel="icon" href="../favicon.ico">
<link rel="icon" href="/static/template-spark_01/brand/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/static/template-spark_01/brand/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="apple-touch-icon" href="/static/template-spark_01/brand/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="manifest" href="/static/template-spark_01/brand/favicons/manifest.json">
<link rel="mask-icon" href="/static/template-spark_01/brand/favicons/safari-pinned-tab.svg" color="#563d7c">
<meta name="msapplication-config" content="/static/template-spark_01/brand/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">
